# через супер юзера будут накатываться миграции с помощью докера, у него есть все возможные права
DB_SUPER_USER=super_user
DB_SUPER_PASSWORD=password

# дефолтный юзер, у которого есть права только на DML операции (на стадии этого коммита не используется, но если вдруг я решу проблему, описанную в .md файле - буду явно отсюда брать данные)
DB_USER=default_user
DB_PASSWORD=password

#postgres
DB_NAME=ledger
DB_HOST=127.0.0.1
DB_PORT=5433
DB_SSL_MODE=disable

#redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=password
REDIS_DB=0
REDIS_TRANSACTION_TTL=67m

#app
GRPC_PORT=50051
ENVIRONMENT=development # development, staging, production

#metrics
SERVICE_NAME=ledger
METRICS_PORT=6767

#posting worker
POSTING_WORKER_ENABLED=true
POSTING_WORKER_NAME=balance_verifier
POSTING_WORKER_BATCH_SIZE=100
POSTING_WORKER_BACKOFF=5s

#docker compose
GATEWAY_REPLICAS=2