# через супер юзера будут накатываться миграции с помощью докера, у него есть все возможные права
DB_SUPER_USER=super_user
DB_SUPER_PASSWORD=password

# дефолтный юзер, у которого есть права только на DML операции (на стадии этого коммита не используется, но если вдруг я решу проблему, описанную в .md файле - буду явно отсюда брать данные)
DB_USER=default_user
DB_PASSWORD=password

#postgres
DB_NAME=ledger
DB_HOST=localhost
DB_PORT=5432
DB_SSL_MODE=disable

#redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password
REDIS_DB=0

#app
GRPC_PORT=50051
ENVIRONMENT=development # development, staging, production